@model List<IndexUserDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@foreach (IndexUserDTO i in Model)
{
    <p>@i.Name</p>
}
